.PageSection {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 600px;
}

.PageSection > div {
  padding: 8px;
  width: 100%;
  max-width: 1024px;
}

.PageSection:nth-child(odd) {
  background-color: #f8f8f8;
}
