.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: rgb(59, 37, 37);
  color: #fff;
}

.LogoBox {
  display: flex;
  align-items: center;
  gap: 6px;
}

.LogoBox img {
  width: 32px;
  height: 32px;
}

.Navbar h1 {
  font-size: 18px;
}

.Navbar ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

.Navbar a {
  color: #fff;
  text-decoration: none;
}

.Navbar ul a:hover,
.Navbar ul a:focus {
  text-decoration: underline;
}

.Navbar button {
  cursor: pointer;
}
